/*
  Background = #15202B
  Object background = #192734
  Colour highlight = #4BC065
  Text = #dbdddf
*/

.App {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    'Header Header'
    'NavBar main-body';
  text-align: center;
  color: #dbdddf;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.Header {
  grid-area: Header;
  border: 2px solid #192734;
}

.NavBar {
  grid-area: NavBar;
  border: 1px solid #192734;
}

.NavBar ul {
  padding-left: 0;
}

.NavBar li {
  list-style-type: none;
}

.NavList li {
  background-color: #4bc065;
  font-weight: bold;
  border-radius: 30px;
  margin: 10px 0;
  padding: 5px;
}

.HomeList {
  height: 90vh;
  overflow: auto;
}

.HomeList ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 2px;
}

.HomeList li {
  margin: 10px 0;
}

.ArticleCard {
  display: grid;
  grid-template-columns: 10% auto 10%;
  background-color: #192734;
}

.art-card-upvotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.art-card-main {
  text-align: left;
}

.art-card-created-at {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FullArticle {
  margin-left: 10px;
  margin-right: 50px;
  text-align: left;
}

.CommentList ul {
  list-style-type: none;
  padding: 0;
}
.CommentList li {
  margin: 10px 0;
}

.CommentCard {
  display: grid;
  grid-template-columns: 10% auto 10%;
  background-color: #192734;
}

.com-card-upvotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.com-card-main {
  text-align: left;
}

.com-card-created-at {
  display: flex;
  justify-content: center;
  align-items: center;
}
